html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        title Document
    body.login 
        .contenedor-formulario
            h1 crear cuenta 
            if err
                each error in err 
                    p.error.alerta=error.message
            form#formulario.caja.caja-login(method="POST"   action="/crearusuario")
                .campo
                    label(for="email") email 
                    input(type="email", name="email" placeholder="Tu email" value= email)
                .campo
                    label(for="password") pasword 
                    input(type="password", name="password" placeholder="Tu pasword" value= password)
                .campo.enviar 
                    input.boton(type="submit" value="Crear Cuenta")
                .campo
                    a(href="/iniciarsesion") Volver iniciar session
